<div class="home-header">
	<div class="container">
		<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill >           
	      <div fxFlex="60" fxFlex.xs="40">
	      	<h1 class="text-center">Visor Dinámico de Ventas</h1>
	      	<h3>Ten acceso a la información de ventas de tu establecimiento en todo momento y cualquier lugar desde tu smartphone.</h3>
	      </div>
	      <div fxFlex="40">	      	
	      	<img src="assets/images/sample_app.png" alt="">
	      </div>          
	    </div>
	</div>
</div>
<div class="home-body">
	<div class="container">
		<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill >           
	      <div fxFlex="50"fxFlex.xs="40">
	      	<img src="assets/images/charts.png" alt="">
	      </div>
	      <div fxFlex="50">
	      	<h1 class="text-center">¿Por Qué Usar DinaVisor?</h1>
	      	<p>
	      		Las ventas y operación de tu negocio en tiempo real directamente desde tu Sistema Punto de Venta, automáticamente en tu teléfono celular de manera oportuna. Con notificaciones que te informarán de lo que ocurre.
	      	</p>
	      	<p>
	      		Con Dinavisor podrás ver la información de tu negocio en tu smartphone desde cualquier lugar donde tengas una conexión a internet, así que no importa donde te encuentres, siempre estarás al tanto de lo que ocurre en tu negocio.
	      	</p>
	      </div>          
	    </div>
	</div>
</div>

<div class="home-beneficts">
	<div class="container">
		<h1>Beneficios Dinavisor</h1>
		<div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">        
			<div fxFlex="20">
				<div class="box" ngsReveal>
					<i class="material-icons">place</i>
					<h3 class="name">Multisucursal</h3>
					<p class="description">Monitorea todas tus sucursales juntas o por separado.</p>
				</div>
			</div>
	      <div fxFlex="20">
	      	<div class="box">
					<i class="material-icons">access_time</i>
					<h3 class="name">En Todo Momento</h3>
					<p class="description">Acceso a la información 24 horas al día, 7 días a la semana, 365 días al año.</p>
				</div>
	      </div>
	      <div fxFlex="20">
	      	<div class="box">
					<i class="material-icons">notifications_active</i>
					<h3 class="name">Notificaciones</h3>
					<p class="description">Notificaciones push con información relevante a la operación.</p>
				</div>
	      </div>  
	      <div fxFlex="20">
	      	<div class="box">
					<i class="material-icons">calendar_today</i>
					<h3 class="name">Historia</h3>
					<p class="description">Acceso a la información de ventas de días anteriores.</p>
				</div>
	      </div>          
	    </div>
	    <br><br>
	    <div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">        
			<div fxFlex="20">
				<div class="box">
					<i class="material-icons">security</i>
					<h3 class="name">Seguro</h3>
					<p class="description">Acceso a la información restringido a los usuarios seleccionados.</p>
				</div>
			</div>
	      <div fxFlex="20">
	      	<div class="box">
					<i class="material-icons">attach_money</i>
					<h3 class="name">Cortes de Turnos</h3>
					<p class="description">Envío de la información de cierre de turno y movimientos de caja al momento.</p>
				</div>
	      </div>
	      <div fxFlex="20">
	      	<div class="box">
					<i class="material-icons">settings</i>
					<h3 class="name">Configuración</h3>
					<p class="description">Configura los tipos de notificacion que deseas recibir.</p>
				</div>
	      </div>  
	      <div fxFlex="20">
	      	<div class="box">
					<i class="material-icons">bar_chart</i>
					<h3 class="name">Reportes</h3>
					<p class="description">Obten reportes diarios, semanales o mensuales.</p>
				</div>
	      </div>          
	    </div>
	</div>
</div>

<div class="home-clients">
	<div class="container">
		<h1>Nuestros Clientes</h1>		        
		<ngx-slick-carousel class="carousel" 
		#slickModal="slick-carousel" 
		[config]="slideConfig"
		(breakpoint)="breakpoint($event)">
		<div ngxSlickItem *ngFor="let slide of slides" class="slide">
			<img src="{{ slide.logo }}" alt="" title="{{slide.nombre}}" class="carousel-image" height="130px" style="display: block; margin: 0 auto;">
		</div>
	</ngx-slick-carousel>
</div>
</div>

<div class="home-contact">
	<div class="container">
		<h1 class="text-center">Contacto</h1>
		<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill >
		  <div fxFlex="25"></div>          
	      <div fxFlex="50" fxFlex.xs="40">
	      	<form [formGroup]="angForm" novalidate>
	      	<input type="text" formControlName="name" [(ngModel)]="contact.name" placeholder="Nombre Completo">
	      	<input type="email" formControlName="email" [(ngModel)]="contact.email" placeholder="Email">
	      	<input type="text" formControlName="phone" [(ngModel)]="contact.phone" placeholder="Teléfono">
	      	<textarea name="" formControlName="comment" [(ngModel)]="contact.comment" placeholder="Escribenos tus comentarios" id="" cols="30" rows="4"></textarea>
	      	<br><br>
	      	<p>
	      		<button mat-raised-button (click)="sendEmail();" [disabled]="!angForm.valid">
	      	     Enviar
	      	    </button>
	      	</p>
	      	</form>
	      	<br>
	      	<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
					<div fxFlex="33">
						<i class="material-icons">mail_outline</i>
						<span>contacto@dinavisor.com</span>
					</div> 
					<div fxFlex="33">
						<i class="material-icons">phone</i>
						<span>(312)207 5764</span>
					</div> 
					<div fxFlex="33">
						<i class="material-icons">phone</i>
						<span>(312)318 2118</span>
					</div> 
				</div>	      	
	      </div>
	      <div fxFlex="25"></div>      
	    </div>
	</div>
</div>